{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/css/index.css"/>
{{/extend}}

Tweet App goes here
<div id="tweet_app">

</div>

<script type='text/tweets_data' >
{{{tweets}}}
</script>

{{#extend "scripts"}}
<script>
  document.write('foo bar!');
</script>
{{/extend}}