body{
	background-color: #584766;
	margin: 0px;
	padding: 0px;
}

.tweetApp_wrapper {
	margin-top:50px;
}

.clear {
	float:none;
	clear:both;
}
.tweets {
  width: 70%;
  margin: 0 auto;
}

.tweet {
  background-color: #FFF;
  margin: 5% 0;
  list-style: none;
  padding: 2%;
  width: 90%;
  box-shadow: 2px 2px 5px;
  position: relative;
  display: block;
  border: 5px solid #F0F0F0;
  border-radius: 5px;
}

.tweet .name{
  font-weight: bold;
  font-family: monospace;
}

.tweet .screen_name{
  color: #8899a6;
  font-style: italic;
}

.tweet .created_at {
  color: #8899a6;
}

.avatar {
  border-radius: 60px;
  border: 1px solid #FFF;
  width: 50px;
  overflow: hidden;
  background-color: #FFF;
  float: left;
}

.message {
  margin-left: 60px;
  padding: 5px;
}

.notification-bar {
	display: none;
	transition: opacity 1s ease-out;
  opacity: 0; 
  position: fixed;
}

.notification-bar.active{
  display: block;
  top: 0;
  width: 100%;
  background-color: rgb(255, 216, 16);
  opacity: 0.5;
  text-align: center;
  transition: all 2s;
  padding: 10px;
}

.tracker {
  padding: 5px;
  background-color: #E5E5E5;
  width: 100%;
}

.tracker .trackName {
  width: 90%;
  border: 1px solid #DCDCDC;
  font-size: 23px;
  color: #C5C5C5;
  font-family: fantasy;
  border-radius: 10px;
  padding: 1%;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}


.loader {
  display: none;
  text-align: center;
  margin: 0 auto;
}

.loader.active {
  display: block;
  padding: 5px;
};